<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['/characters']">Marvel App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/characters']">
            Héroes
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/comics']">Cómics</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/events']">Eventos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link"[routerLink]="['/buy']">Comprar</a>
          </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about']">Mi trabajo</a>
        </li>
      </ul>
    </div>
  </nav>
  