<div class="container mt-xl">
    <div class="row">
      <div class="col-md-8">
        <h2>Lista de Heroes Marvel - Marvel App</h2>
        <h3>Esta aplicación fue creada consumiendo la API de Marvel</h3>
        <p>La documentacion: <a href="https://developer.marvel.com/docs">encontrala en su página</a>.</p>
        <p>El trabajo se basa en una consulta por medio de la función Fetch a la URL de la API. Donde se itera cada personaje, con su foto, nombre y link a los cómics.</p>
        <span class="bold">Aplicación hecha únicamente bajo el próposito de practicar y sin fines de lucro.</span>
        <p>Creado por Marcos Cabral.</p>
      </div>
      <div class="col-md-4">
        <img class="img-about" src="../../assets/img/marvel.jpg">
      </div>
    </div>
  </div>