<!--<div class="container">    
    
        <img class="img" src="{{compra.thumbnail.path}}.{{compra.thumbnail.extension}}">
    
    <div class="detalle-texto center">    
        <p>{{compra.id}}</p>
        <p>{{compra.title}}</p>
        <p>{{compra.description}}</p>
        <p>{{compra.format}}</p>
        <p>{{compra.prices[0].price}}</p>
        <a href="{{compra.urls[0].url}}" target="_blank" class="btn btn-dark">VER AHORA</a>
    </div>
</div>-->

<div class="detalle-contenido" >    
     
    <img class="img-thumbnail" src="{{compra.thumbnail.path}}.{{compra.thumbnail.extension}}">
    
    <div class="detalle-texto center">    
        <p>{{compra.id}}</p>
        <p>{{compra.title}}</p>
        <p>{{compra.format}}</p>
        <p>{{compra.prices[0].price}}</p>
        <a href="{{compra.urls[0].url}}" target="_blank" class="btn btn-dark">VER AHORA</a>
    </div>
</div>